RewriteEngine On
RewriteBase /

RewriteRule ^backend/?$ assets/backend/index.php [L,QSA]
RewriteRule ^backend/(.*)$ assets/backend/index.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php [QSA,L]
